{% extends 'base.html' %}

{% block title %}
    {{ key }}
{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="alert alert-info">
            <h2>{{ key }}</h2>
            {% if page %}
                <br>page for keyphrase "{{ key }}" exist in wikipedia
                <br><br><br>
                <table class="text">
                <tr>
                    <td><a href="{{page}}" class="btn btn-info">go to wiki page</a></td>
                    <td class="rightcol"><a href="/posts/{{ id }}" class="btn btn-dark">go bakc</a></td>
                </tr>
                </table>
                <br>
            {% else %}
                <table class="text">
                <tr>
                <td>page for keyphrase "{{ key }}" not exist in wikipedia</td> <td class="rightcol"><a href="/posts/{{ id }}" class="btn btn-dark">go bakc</a></td></br>
                </tr>
                </table>
            {% endif %}

        </div>
    </div>
{% endblock %}
