{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}



    <div class="container mt-5">
        <div class="alert alert-info">
            <h3> key phrases </h3>
            {% for k, w in keys %}
        </div>
        <div class="alert alert-info">
            <table class="text">
                <tr>
                    {% if w != '0' %}
                    <td>{% filter upper %}"{{ k }}"{% endfilter %}</td>
                    <td class="rightcol"><a href="{{ w }}" class="btn btn-info">do to wiki page</a></td>
                    {% else %}
                    <td>{% filter upper %}"{{ k }}"{% endfilter %}</td>
                    {% endif %}
                </tr>
            </table>
            {% endfor %}
        </div>
        <tr>
            <form method="post">
                <tr>
                    <input type="submit" class="btn btn-danger btn-sm" value="delete post/keys">
                </tr>
            </form>
            </tr>
    </div>
{% endblock %}