{% extends 'base.html' %}

{% block title %}
    All posts
{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h1> your last posts </h1>
        {% for e in articles %}
            <div class="alert alert-info">
                <h2>{{ e.title }}</h2>
                <p>{{ e.text }}</p>
                <p><b>date: {{ e.date.date() }}</b></p>

                <table class="text">
                <tr>
                    <td><a href="/posts/{{ e.id }}" class="btn btn-primary">get key phrases</a></td>

                </tr>
            </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}
