{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}



    <div class="container mt-5">
        <div class="alert alert-info">
            <h2> key phrases </h2>
            {% for e in keys %}
        </div>
        <div class="alert alert-info">
            <table class="text">
                <tr>
                    <td>"{% filter upper %}{{ e }}{% endfilter %}"</td>
                    <td class="rightcol"><a href="/posts/{{ e }}/{{ id }}" class="btn btn-info">chek if wikipedia page exist</a></td>
                </tr>
            </table>

            {% endfor %}
        </div>
    </div>
{% endblock %}