{% extends 'base.html' %}

{% block title %}
    All post
{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h1> your last post </h1>
        {% for e in articles %}
            <div class="alert alert-info">
                <h2>{{ e.title }}</h2>
                <p>{{ e.text }}</p>
                <p><b>date: {{ e.date.date() }}</b></p>
                <a href="/posts/{{ e.id }}" class="btn btn-warning">get key phrases</a>
                <a href="/posts/{{ e.id }}/del" class="btn btn-danger">delet post</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
