{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}



    <div class="container mt-5">
        <div class="alert alert-info">
            <h2> key phrases </h2>
            {% for k, w in keys %}
        </div>
        <div class="alert alert-info">
            <table class="text">
                <tr>
                    {% if w != '0' %}
                    <td>{% filter upper %}"{{ k }}"{% endfilter %}</td>
                    <td class="rightcol"><a href="{{ w }}" class="btn btn-info">do to wiki page</a></td>
                    {% else %}
                    <td>{% filter upper %}"{{ k }}"{% endfilter %}</td>
                    {% endif %}
                </tr>
            </table>

            {% endfor %}
        </div>
    </div>
{% endblock %}